<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>주식 데이터 시각화</h1>
    <hr><br>
    <button onclick="get_stock()">실시간 주식 정보 업데이트</button>
    <button onclick="get_news()">실시간 뉴스 정보 업데이트</button><br>
    <select name="stock_name" id="stock_name">
        <option value="삼성전자">삼성전자</option>
        <option value="SK하이닉스">SK하이닉스</option>
        <option value="NAVER">NAVER</option>
        <option value="카카오">카카오</option>
        <option value="삼성전자우">삼성전자우</option>
        <option value="삼성바이오로직스">삼성바이오로직스</option>
        <option value="LG화학">LG화학</option>
        <option value="삼성SDI">삼성SDI</option>
        <option value="현대차">현대차</option>
        <option value="셀트리온">셀트리온</option>
    </select>
    <button onclick="stockchart()">종목 차트 보기</button>

    <div id="chart_view"></div>

    <br><hr><br>



    </table>
    
    <script>
        function get_stock() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    alert("실시간 주식 데이터 저장 성공")
                }
            };
            xhttp.open("GET", "getstock");
            xhttp.send();
        }

        // function get_news() {
        //     const xhttp = new XMLHttpRequest();
        //     xhttp.onreadystatechange = function () {
        //         if (this.readyState == 4 && this.status == 200) {
        //             alert("실시간 뉴스 데이터 저장 성공")
        //         }
        //     };
        //     xhttp.open("GET", "getstock");
        //     xhttp.send();
        // }

        function stockchart() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var img_name = this.responseText
                    document.getElementById("chart_view").innerHTML = '<img src="./' + img_name + '" width=1000 height=700>'
                }
            };
            xhttp.open("POST", "stockchart");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            query = "stock_name=" + document.getElementById("stock_name").value;
            console.log(query)
            xhttp.send(query);
        }


    </script>
</body>
</html>
